@import "../theme/theme";


* {
  box-sizing: border-box;
  margin:0;
    padding:0;
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FED505;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height: 100%;
}
.loginbox-container{
  display: flex;
  // align-items: center;
  // justify-content: center;

  //margin-top: 5%;
}

.loginbox{
  background-color: #fff;
  border: 1px solid rgba(3,27,78,.1);
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(3,27,78,.1);
  box-shadow: 0 10px 20px rgba(3,27,78,.1);
  // padding: 20px;

  height: 300px;

  line-height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
}
.container {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

   .row {

      .logo {
        width: 350px;
        height: 150px;
        background-image: url("https://www.digitalocean.com/assets/media/homepage/logos/hashicorp-4431df79.png");
        background-repeat: no-repeat;
      }

      .formbox {
        width: 600px;
        background-color: #fff;
        border: 1px solid rgba(3,27,78,.1);
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 20px rgba(3,27,78,.1);
        box-shadow: 0 10px 20px rgba(3,27,78,.1);
        padding: 32px;
        height: 300px;

        line-height: 20px;
    
       }

    }

  
   
}